
h1 {
    color: rgb(0, 197, 247);
    text-align: center;
    background-blend-mode: saturation;
}
h2 {
    color: rgb(65, 1, 1);
    background-color: lightslategrey;
}
.parag {
    color: rgb(5, 22, 180);
    font-size: 20px;
    background-color: lightslategrey;
    text-align: left;
}

section {
    color: purple;
    background-color: lightslategrey;
    font-size: 15px;
}

body {
    background-color: lightslategray;
}

.nav {
    color: maroon;
    display: inline-block;
}
